<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" href="/image/icons8-spring-logo-16.png" type="image/png">
</head>
<body>
    <div th:replace="~{common/nav.html::navbar}"></div>

    <h4>마이페이지</h4>

    <div>
        사용자 정보 : <span sec:authentication="principal"></span>
    </div>
    <div>
        사용자명 : <span sec:authentication="principal.username"></span>
    </div>
    <div>
        사용자 권한 : <span sec:authentication="principal.authorities"></span>
    </div>
</body>
</html>