<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>

    <div th:if="${param.error}">
        <h4>로그인에 실패하였습니다.</h4>
    </div>

    <form action="/login" method="post">
        <input name="username" placeholder="아이디">
        <input name="password" type="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
    </form>

    <a href="/register">회원가입</a>
</body>
</html>