<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="/main.css" rel="stylesheet">
    <link rel="icon" href="/icons8-spring-logo-16.png" type="image/png">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>

    <div th:if="${param.error}">
        <h4>로그인에 실패하였습니다.</h4>
    </div>

    <form action="/login/jwt" method="post">
        <input name="username" placeholder="아이디">
        <input name="password" type="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
    </form>
    </form>
    <a href="/register">회원가입</a>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();  // form의 기본 제출 동작을 막음

            fetch('/login/jwt', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // JSON 형식으로 보내기 위해 설정
                },
                body: JSON.stringify({
                    username: document.querySelector('[name="username"]').value,
                    password: document.querySelector('[name="password"]').value
                })
            })
                .then(response => response.json())  // 응답을 JSON으로 처리
                .then(data => {
                    console.log('성공:', data);
                })
                .catch(error => {
                    console.error('에러:', error);
                });
        });
    </script>
</body>
</html>