<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 등록</title>
    <link href="/main.css" rel="stylesheet">
    <link rel="icon" href="/icons8-spring-logo-16.png" type="image/png">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>

    <form action="/addMember" method="post">
        <input type="text" name="username" placeholder="아이디">
        <input type="password" name="password" placeholder="비밀번호">
        <input type="text" name="displayName" placeholder="이름">
        <!-- 권한 선택 -->
        <div>
            <label><input type="radio" name="role" value="BUSINESS_USER" required>비즈니스 사용자</label>
            <label><input type="radio" name="role" value="INDIVIDUAL_USER" required>개인 사용자</label>
        </div>
        <button type="submit">등록</button>
    </form>

</body>
</html>